.item_list_twit {
  position: relative;
  background: transparent;
  border-radius: 8px;
}

.item_list_twit::after {
  content: '';
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  background: linear-gradient(
    107deg,
    rgba(197, 216, 238, 0.12) 0%,
    rgba(61, 132, 215, 0.08) 54%,
    rgba(42, 41, 47, 0.04) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item_list_twit:hover::after {
  opacity: 1;
}

.button_Recap {
  background: transparent;
  box-shadow: none;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button_Recap > span {
  z-index: 100;
}

.button_Recap::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: radial-gradient(
      108.1% 108.33% at 50% -8.33%,
      #1e1533 0%,
      rgba(68, 45, 116, 0.24) 62%,
      rgba(99, 54, 197, 0.6) 100%
    ),
    linear-gradient(90deg, rgba(138, 162, 191, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.button_Recap:hover::after {
  opacity: 1;
}

.button_Recap:hover {
  border-radius: 4px;
  border: 1px solid #8a66d8;
  box-shadow: 0px 0px 24px 0px rgba(58, 21, 198, 0.6);
}

.button_Recap:hover > span {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
}

.textStart {
  text-align: start !important;
}

.listHistory::-webkit-scrollbar {
  display: none;
}

.history::after {
  content: '';
  width: 100%;
  height: 42px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(26, 26, 27, 0) 0%, #1a1a1b 115%);
}

.itemHistoryActive {
  position: relative;
  background: linear-gradient(
    107deg,
    rgba(197, 216, 238, 0.12) 0%,
    rgba(61, 132, 215, 0.08) 54%,
    rgba(42, 41, 47, 0.04) 100%
  );
}

.itemHistoryActive::before {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(
    180deg,
    rgba(153, 141, 198, 0.32) 0%,
    rgba(109, 84, 202, 0.8) 47%,
    rgba(153, 141, 198, 0.32) 100%
  );
  left: 0;
  top: 0;
}

.div_content > p {
  color: rgba(250, 250, 250, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.32px;
  text-align: justify;
}

.div_content::-webkit-scrollbar {
  width: 4px;
}

.div_content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(197, 216, 238, 0.24);
  border-radius: 8px;
}

.div_content:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(197, 216, 238, 0.6);
}

.div_content:hover::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

.div_content:hover::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* suggest_item */

.suggest_item {
  transition: border-color 0.3s ease;
}

.iconSearch {
  display: block;
}

.iconAdd {
  display: none;
}

.suggest_item:hover {
  border-color: rgba(197, 216, 238, 0.6);
}

.suggest_item:hover .iconSearch {
  display: none;
}

.suggest_item:hover .iconAdd {
  display: block;
}

/* button item */

.BgDefaultButtonItem,
.BgHoverButtonItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.BgDefaultButtonItem {
  opacity: 1;
}

.BgHoverButtonItem {
  opacity: 0;
}

.button_item:hover .BgDefaultButtonItem {
  opacity: 0;
}

.button_item:hover .BgHoverButtonItem {
  opacity: 1;
}

.profile-change,
.profile-change-down,
.profile-change-up {
  transition: all 0.3s ease;
}

.profile-change {
  transform: translateY(0); /* Vị trí ban đầu */
  opacity: 1;
}

.profile-change-down {
  transform: translateY(150%);
  opacity: 0;
}

.profile-change-up {
  transform: translateY(-50%);
  opacity: 0;
}

/* cusstom new history */

.popup_show_list {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button_show_list:hover ~ .popup_show_list {
  opacity: 1;
}

.hidden_history {
  width: 64px;
}

/* custom_color */
.custom_color_1 {
  color: rgba(153, 141, 198, 0.24);
}
.background_rgb_primary {
  background: linear-gradient(90deg, #2d2b36 0%, rgba(5, 3, 14, 0) 100%);
}
.background_rgb_primary:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%),
    linear-gradient(90deg, #2d2b36 0%, rgba(5, 3, 14, 0) 100%);
}

.background_rgb_popup_info {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 100%);
}

/* custom_scroll*/
.custom_scroll::-webkit-scrollbar {
  width: 4px;
}

.custom_scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(197, 216, 238, 0.24);
  border-radius: 8px;
}

.custom_scroll:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(197, 216, 238, 0.6);
}

.custom_scroll:hover::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

.custom_scroll:hover::-webkit-scrollbar-corner {
  background-color: transparent;
}
