.slider {
    position: relative;
    width: calc(100% - 148px);
    max-width: 1294px;
}

.slider::before {
    content: '';
    width: 100px;
    height: 238px;
    position: absolute;
    top: 24px;
    right: 0px;
    background: linear-gradient(270deg, #1E1C2D 0%, rgba(30, 28, 45, 0.00) 100%);
    z-index: 999;
}

.slider::after {
    content: '';
    width: 100px;
    height: 238px;
    position: absolute;
    bottom: 24px;
    left: 0px;
    background: linear-gradient(81deg, #1c1c1d 0%, #222224 20%, rgb(30, 30, 31, 0.00) 80%, rgba(30, 28, 45, 0.00) 100%);
    z-index: 999;
}

/* .cardRight {
    width: 392px;
    height: 212px;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-left: 80px;
}

.cardRight:after {
    content: "";
    position: absolute;
    width: calc(100% - 1.4px);
    height: calc(100% - 1.4px);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    border-radius: inherit;
    box-shadow: -20px 0px 10px 5px pink, 20px 0px 10px 10px rgba(20, 250, 200, 1);;
    transition: box-shadow 0.3s ease;
    background: transparent;
}

.cardRight:hover:after {
    box-shadow: -20px 0px 10px 5px red, 20px 0px 10px 10px rgba(20, 250, 200, 1);;
} */

.cardRight {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cardRight .borderChild {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 12px;
    padding: 1.4px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.cardRight .borderChild::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    background: linear-gradient(164deg, rgba(89, 88, 110, 1), rgba(48, 47, 59, 1) 60%, rgba(36, 35, 44, 0));
    transition: opacity 0.3s ease;
    opacity: 1;
}

.cardRight .borderChild::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    background: linear-gradient(164deg, rgba(173, 160, 220, 1), rgba(138, 102, 216, 1) 60%, rgba(44, 44, 44, 0));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cardRight:hover .borderChild::before {
    opacity: 0;
}

.cardRight:hover .borderChild::after {
    opacity: 1;
}

.cardLeft {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cardLeft .borderChild {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 12px;
    padding: 1px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.cardLeft .borderChild::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    background: linear-gradient(64deg, rgba(36, 35, 44, 0), rgba(48, 47, 59, 1) 40%, rgba(89, 88, 110, 1));
    transition: opacity 0.3s ease;
    opacity: 1;
}

.cardLeft .borderChild::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    background: linear-gradient(203deg, rgba(173, 160, 220, 1), rgba(138, 102, 216, 1) 60%, rgba(44, 44, 44, 0));;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.cardLeft:hover .borderChild::after {
    opacity: 1;
}

.cardLeft:hover .borderChild::before {
    opacity: 0;
}




/* thành slider */

.slider_item {
    -webkit-appearance: none;
    /* ẩn mặc định thumb của WebKit */
    appearance: none;
    /* ẩn mặc định thumb của các trình duyệt khác */
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2A2637;
    padding: 0 5px;
}

.slider_item::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #998DC6;
    cursor: pointer;
    transition: height 0.1s ease;
}

.slider_item::-webkit-slider-thumb:hover,
.slider_item::-webkit-slider-thumb:active {
    border-radius: 2px;
    height: 22px;
    background: linear-gradient(180deg, #C5D8EE 0%, #998DC6 100%);
    box-shadow: 0px 0px 12px 0px #8A66D8;
}

.slider_item::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3498db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.button_try_now {
    background: transparent;
    box-shadow: none;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.button_try_now>span{
    z-index: 100;
}

.button_try_now::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: radial-gradient(108.1% 108.33% at 50% -8.33%, #1E1533 0%, rgba(68, 45, 116, 0.24) 62%, rgba(99, 54, 197, 0.60) 100%), linear-gradient(90deg, rgba(138, 162, 191, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
}


.button_try_now:hover::after{
    opacity: 1;
}


.button_try_now:hover {
    border-radius: 4px;
    border: 1px solid #8A66D8;
    box-shadow: 0px 0px 24px 0px rgba(58, 21, 198, 0.60);
}

.button_try_now:hover>span {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.40);
}

.button_sale{
    position: relative;
    transition: all 0.3s ease;
}

.button_sale::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: linear-gradient(107deg, rgba(197, 216, 238, 0.12) 0%, rgba(61, 132, 215, 0.08) 54%, rgba(42, 41, 47, 0.04) 100%);
}


.button_sale:hover::after{
    opacity: 1;
}


.button_sale:hover {
    border-radius: 4px;
    box-shadow: 0px 0px 24px 0px rgba(122, 173, 232, 0.32);
}

.no_limitations {
    background: linear-gradient(90deg, rgba(239, 239, 239, 0.90) 0%, rgba(254, 254, 254, 0.90) 49.5%, rgba(239, 239, 239, 0.88) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
}