.fireHoverIcon{
    opacity: 0;
    position: absolute;
    top:3px;
    left: 1px;
    transition: opacity 0.3s ease;
}

.popupText{
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.fireIcon{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hoverIcon:hover .fireHoverIcon{
    opacity: 1;
}

.hoverIcon:hover .popupText{
    opacity: 1;
}

.hoverIcon:hover .fireIcon{
    opacity: 0;
}