.show_popup_hover{
    position: absolute;
    height: 18px;
    top: -5px;
    left: -9px;
}

.icon_popup_hover_arrow{
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.3s ease;
}

.icon_popup_hover{
    opacity: 0;
    transition: all 0.3s ease;
}

.icon_popup{
    opacity: 1;
}

.button_show_popup:hover .icon_popup{
    opacity: 0;
}

.button_show_popup:hover .icon_popup_hover_arrow{
    opacity: 1;
    transform: translateX(0);
}

.button_show_popup:hover .icon_popup_hover{
    opacity: 1;
}