.list_images {
    transform-style: preserve-3d;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.image-item:not(:first-child) {
    margin-left: -4px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    transform: rotateY(-1deg);
}

.count-text{
    margin-left: -4px;
    transform: rotateY(-1deg);
}