.inputSearch,
.inputSearchs {
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease;
}

.inputSearch::after,
.inputSearchs::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(90deg, rgba(42, 38, 55, 0.06) 0%, rgba(46, 51, 56, 0.60) 53.5%, rgba(42, 38, 55, 0.06) 100%);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.inputSearch::before,
.inputSearchs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(90deg, rgba(0, 72, 255, 0) 0%, rgba(46, 51, 56, 0.60) 53.5%, rgba(74, 91, 133, 0.00) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.inputSearch:hover::after,
.inputSearchs:hover::after {
    opacity: 0;
}

.inputSearch:hover::before,
.inputSearchs:hover::before {
    opacity: 1;
}

.lightingSearchHover,.LightingSearchActive{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.inputSearch:hover .lightingSearchHover{
    opacity: 1;
}

.inputSearch:focus-within .lightingSearchHover{
    opacity: 0;
}

.inputSearch:focus-within .LightingSearchActive{
    opacity: 1;
}

.inputSearch>input {
    color: var(--p-text, #F5F5F5);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.16px;
}

.inputSearch>input::placeholder {
    color: var(--t-text, rgba(245, 245, 245, 0.40));
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.16px;
}