.input_modal_list_profile {
    transition: all 0.3s ease;
}

.input_modal_list_profile:focus-within {
    border-color: #8a66d899;
}

/* custom checkbox */
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.custom-checkbox-hidden{
    padding-left: 0;
    margin-left: -15px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(197, 216, 238, 0.30);
    background: rgba(197, 216, 238, 0.06);
    transition: all 0.3s ease;
}

.custom-checkbox input:checked~.checkmark {
    border-radius: 4px;
    border-color: transparent;
    background: var(--Accent, #8A66D8);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 8px;
    height: 12px;
    border: solid #F5F5F5;
    border-width: 0 3px 3px 0;
    transform: rotate(38deg);
}

/* button */

.button_add_list {
    background: transparent;
    box-shadow: none;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.button_disabled{
    cursor: no-drop !important;
    border-color: rgba(138, 102, 216, 0.40);
}

.button_add_list>span {
    z-index: 100;
}

.button_disabled>span {
    color: #f5f5f566;
}

.button_add_list::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: radial-gradient(108.1% 108.33% at 50% -8.33%, #1E1533 0%, rgba(68, 45, 116, 0.24) 62%, rgba(99, 54, 197, 0.60) 100%), linear-gradient(90deg, rgba(138, 162, 191, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
}


.button_add_list:hover::after {
    opacity: 1;
}


.button_add_list:hover {
    border-radius: 4px;
    border: 1px solid #8A66D8;
    box-shadow: 0px 0px 24px 0px rgba(58, 21, 198, 0.60);
}

.button_add_list:hover>span {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.40);
}



.button_cancel{
    position: relative;
    transition: all 0.3s ease;
}

.button_cancel::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: linear-gradient(107deg, rgba(197, 216, 238, 0.12) 0%, rgba(61, 132, 215, 0.08) 54%, rgba(42, 41, 47, 0.04) 100%);
}


.button_cancel:hover::after{
    opacity: 1;
}


.button_cancel:hover {
    border-radius: 4px;
    box-shadow: 0px 0px 24px 0px rgba(122, 173, 232, 0.32);
}

.list_data::-webkit-scrollbar{
    display: none;
}

.item_list_twit {
    position: relative;
    background: transparent;
    border-radius: 8px;
}

.item_list_twit::after {
    content: '';
    background: red;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    background: linear-gradient(107deg, rgba(197, 216, 238, 0.12) 0%, rgba(61, 132, 215, 0.08) 54%, rgba(42, 41, 47, 0.04) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item_list_twit:hover::after {
    opacity: 1;
}