.text_enterprise {
    background: linear-gradient(236deg, #000 8.77%, #8174B0 24.87%, #AFC4E4 39.82%, #BE85E1 54.79%, #7F6FBA 67.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    opacity: 1;
    transition: all 0.3s ease;
}

.icon_hover {
    opacity: 0;
    transition: all 0.3s ease;
}

.btn_back:hover .icon {
    opacity: 0;
}

.btn_back:hover .icon_hover {
    opacity: 1;
}

.bgPaymentItem {
    opacity: 1;
    transition: all 0.3s ease;
}

.bgHoverPaymentItem {
    opacity: 0;
    transition: all 0.3s ease;
}

.btnPaymentItem:hover .bgPaymentItem {
    opacity: 0;
}

.btnPaymentItem:hover .bgHoverPaymentItem {
    opacity: 1;
}

.listCoins::-webkit-scrollbar {
    display: none;
}

/* button */

.button_try_now {
    background: transparent;
    box-shadow: none;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.button_try_now>span {
    z-index: 100;
}

.button_try_now::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: radial-gradient(108.1% 108.33% at 50% -8.33%, #1E1533 0%, rgba(68, 45, 116, 0.24) 62%, rgba(99, 54, 197, 0.60) 100%), linear-gradient(90deg, rgba(138, 162, 191, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
}


.button_try_now:hover::after {
    opacity: 1;
}


.button_try_now:hover {
    border-radius: 4px;
    border: 1px solid #8A66D8;
    box-shadow: 0px 0px 24px 0px rgba(58, 21, 198, 0.60);
}

.button_try_now:hover>span {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.40);
}

.text_line {
    background: linear-gradient(236deg, #9E86BD 8.77%, #88C6F2 42.89%, #94FAC9 67.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button_sale{
    position: relative;
    transition: all 0.3s ease;
}

.button_sale::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: linear-gradient(107deg, rgba(197, 216, 238, 0.12) 0%, rgba(61, 132, 215, 0.08) 54%, rgba(42, 41, 47, 0.04) 100%);
}


.button_sale:hover::after{
    opacity: 1;
}


.button_sale:hover {
    border-radius: 4px;
    box-shadow: 0px 0px 24px 0px rgba(122, 173, 232, 0.32);
}