@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --border_primary: rgba(153, 141, 198, 0.24);

    --background_rgb_primary: linear-gradient(90deg, #2d2b36 0%, rgba(5, 3, 14, 0) 100%);
    --background_rgb_primary_hover: linear-gradient(90deg, #2d2b36 0%, rgba(5, 3, 14, 0.4) 100%);

    --radius: 0.375rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* styles/globals.css or your component-specific CSS file */
/* Style the scrollbar itself (width, background) */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

/* Handle the scrollbar handle (color, rounded corners) */
::-webkit-scrollbar-thumb {
  background-color: #4B5563; /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
  border: 4px solid transparent; /* Creates padding around the scroll thumb */
  background-clip: padding-box; /* Ensures the border doesn't overlap the background */
}

/* Optional: style the scrollbar track */
::-webkit-scrollbar-track {
  background: #F3F4F6; /* color of the track */
}